* {
  list-style: none;
  text-decoration: none;
  font-style: open-sans bold 700;
  /* font-weight: lighter; */
  margin: 0;
  font-family: open sans ;
  color: white;
}

nav {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-around;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  font-family: avenir-medium;
}

/* .nav-logo img :hover{
  transition: ease-in-and-out;
  transition-duration: 1s;
} */

body {
  background: #343434;
  /* background-image: url('images/key board red_lang.png'); */
}

.home-body {
  width: 100%;
  height: auto;
  /* position: fixed; */
  align-items: center;
  display: flex;
  text-align: center;
  margin: 80px 0px 0 0;
  background-size: auto;
}

.about-us-body {
  width: 100%;
  display: flex;
  text-align: center;
  margin: 5% 10% 0 0;
  justify-content: center;
  align-content: center;
}

.contact-body {
  display: flex;
  /* /* width: 100%; */
  align-items: center;
  /* text-align: center; */
  margin: 160px 80px 0 0;
}



.portfolio-card-1 {
  background-color: rgba(215, 4, 6, 0.56);
  align-items: center;
  width: 100%;
  margin: 80px 0 0 0px;
}

.navigation {
  display: flex;
  text-align: center;
  justify-content: space-between;
  column-gap: 2vw;
}

.nav-logo img {
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  width: auto;
}
.Logo {
  position: relative;
  animation-name: Arrow;
  animation-duration: 5s;
}
.Logo a:hover {
  @keyframes Arrow {
    0% {
      left: 0px;
      top: 0px;
    }
    100% {
      left: 2000px;
      top: 0px;
    }
  }
}
.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.7s ease;
}

.nav-item:hover a{
  color: #d70006;
}

.navigation a {
  color: white;
}

.dropbtn {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  margin: 15px 0 0 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(215, 4, 6, 0.56);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.dropdown:hover .dropbtn {
  background-color: rgba(215, 4, 6, 0.56);
}

.homepage-card {
  background: rgba(215, 4, 6, 0.4);
  align-items: center;
  max-width: 800px;
  margin-top: 5% ;
  margin-left: 5%;
  margin-right: auto;
  margin-bottom: auto;
}

.homepage-card p {
  color: white;
  margin: 100px 100px 100px 100px;
}

.homepage-card h2 {
  /* margin: 50px 0 0 0 ; */
  color: white;
  text-transform: uppercase;
  font-size: 3vh;
}

.contact-card{
  background: rgba(215, 4, 6, 0.56);
  /* border-radius: 20px; */
  align-items: center;
  max-width: 800px;
  margin-top: 5% ;
  margin-left: 5%;
  margin-right: auto;
  margin-bottom: auto;
}

.contact-card-2 p{
  color: white;
  margin: 1vh 5vh 1vh 5vh;
}

.contact-card a{
  justify-content: flex-start;
  color: white;
  margin: 1vh 5vh 1vh 5vh;
}
.contact-card h2 {
  font-size: 3vw;
  justify-content: center;
  align-items: center;
  color: white;
}

.social-links {
  display: grid;
  margin: 10% 10% 10% 10%;
}

.social-links img{
  width: 20px;
  height: 20px;
}

.social-links a{
  justify-content: flex-end;
}

.social-items{
  display: inline-flex;
}

.button_card {
  display: inline-flex;
  margin-bottom: 50px;
}

button {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.54),
    0 17px 50px 0 rgba(0, 0, 0, 0.59);
}

.button1 {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: auto;
  height: 40px;
  margin: 0;
  padding-top: 0;
}

.button1 a {
  color: white;
}

.button1 {
  transition-duration: 0.4s;
}

/* .button1 :hover{
  background-color: #4CAF50;
  color: white;
  transition-duration: 0.4s;
  transform: scale(1.2);
  transition: ease-in-and-out;
} */

.button2 a {
  color: white;
}

.button2 {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: auto;
  height: 40px;
  margin-left: 200px;
  padding-top: 0;
}

.vertical-card {
  display: inline-flex;
}

.vertical {
  border-left: 3px solid black;
  height: 300px;
  margin-top: 100px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.823);
  border-radius: 10px;
}

/* @media screen and (max-width: 960px){
  .navigation{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0.8;
    transition: all 0.5s ease;
    height: 50vw;
    z-index: -1;
  }
  .nav-logo{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0;
  }
} */

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    margin-top: 3%;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navigation {
    position: fixed;
    top: -300px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .navigation.active {
    top: 80px;
  }

  .dropdown-content.active{
    width: 100%;
  }

  .Teamwork_head {
    display: flex;
    color: #d70006;
    margin: 10% 50% 0% 25%;
    font-size: 600%;
  }
}

.about-us-card{
  background: rgba(215, 4, 6, 0.56);
  /* border-radius: 20px; */
  align-items: center;
  min-width: 800px;
  margin: 10% auto;
}
.about-us-card h2{
  margin: 10% 0 10% 0;
}





.team-gallery img {
  width: 200px;
  height: auto;
  padding: 10px;
  box-shadow: 50px;
}
.team-gallery img:hover{
transform:scale(1.1);
transition: ease-in-out 1s;
}
.team-gallery {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 270px 270px 270px;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto); 
  
}
  

.team-gallery a {
  text-align: justify;
}
.a{
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 2;


}
.b{
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;

  
}
.c{
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2;
  
}
.d{
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 2;
grid-row-end: 3;
  
}
.e{
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 3;  
}
.f{
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 3;
  
}

.portfolio-body {
  width: 100%;
  height: auto;
  /* position: fixed; */
  align-items: center;
  /* display: grid; */
  text-align: center;
  margin: 80px 0px 0 0;
  background-size: auto;
}

.pf_img{
  max-width: 500px;
  height: 500px;
  margin-top: 200px;
}

.portfolio-card-1{
  display: flex;
  justify-content: center;
  max-height: 300px;
  margin: 15% 0 10% 0;
}

.portfolio-card-1 h2{
  color: white;
}

.portfolio-card-1 p{
  color: white;
  margin-top: 10%;
}

.portfolio-text{
  margin: 5% 5% 5% 5%;
}

.services{
  display: flex;
  /* justify-content: ; */
  margin: 30% 0 0 0;
  /* margin: 20% 30%; */
  /* padding: 10% 15%; */
  /* /* width: 100%; */
  height: 100%; 
}

.services-card{
  display: flex;
  width: 100%;
  height: 100%;
  /* background: rgba(215, 4, 6, 0.56); */
}

/* .services-block{
  display: grid;
  width: 30%;
  height: 30%;
  background-color: white;
  margin: 10px;
} */

.services-row1{
  display: grid;
  justify-content: center;
  width: 50%;
}

.services-row2{
  display: grid;
  margin: auto auto;
}

.block-1 {
  float: left;
  width: 50%;
  height: 50%;
  background: rgba(215, 4, 6, 0.56);
}

.block-2{
  float: left;
  width: 50%;
  height: 50%;
  background: rgba(215, 4, 6, 0.56);
}


.block-3{
  float: right;
  width: 50%;
  height: 50%;
  background: rgba(215, 4, 6, 0.56);
}

.block-4 {
  float: right;
  width: 50%;
  height: 50%;
  background: rgba(215, 4, 6, 0.56);
}

.block-5 {
  float: left;
  width: 500px;
  height: 500px;
  background: rgba(255, 255, 255, 0.56);
  margin: 10% auto;
}


.block-6 {
  float: left;
  width: 500px;
  height: 500px;
  background: rgba(255, 255, 255, 0.56);
  margin: 10% auto;
}

.block-7 {
  float: left;
  width: 500px;
  height: 500px;
  /* background: rgba(255, 255, 255, 0.56); */
  margin: 10% auto;
}

.block-8 {
  float: left;
  width: 500px;
  height: 500px;
  background: rgba(255, 255, 255, 0.56);
  margin: 10% auto;
}

.services-card img{
  min-width: 50%;
  max-height: 50%;
}

.services-text{
  margin: 0 5% 5% 0;
  min-width: 315px;
}

.services-text h2{
  margin: 5% auto;
  color: white;
}

.services-text p{
  margin: 5% auto;
  color: white;
}

.services-text hr{
 color: #d70006;
}

.portfolio-card{
  width: 100%;
  /* margin-left: 10%;
  margin-right: 10%; */
}

.portfolio-card h2{
  text-align: center;
  font-size: 3rem;
}

.portfolio-card hr{
  justify-content: center;
  color: #d70006;
  width: 100%;
  height: 2px;
  background-color: #d70006;
}

.portfolio-card1{
  align-items: center;
  display:flex;
  width: 100%;
  height: auto;
}

.progres-card{
  width: 100%;
  height: auto;
  margin: 80px 80px;
  justify-content: center;
  text-align: center;
}

.progres-card h2{
  margin: 5% 0;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.progres-card img{
  width: 50%;
  height: auto;
}

/* @media screen and (max-device-width: 640px) {
}

@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
}

@media screen and (min-device-width: 768px) and (max-device-width:1024px){
}

@media screen and (min-width: 1024px){
}*/ 
